# .gitignore file for create-react-app with scss

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# yarn
yarn-error.log
.pnp/
.pnp.js

# npm
*.log

# lockfiles
package-lock.json
yarn.lock

# IDE
.idea

# build
dist
